doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet" href="/public/css/style.css")
    body
        header
            h1 Noom
            h2
        main
            div#welcome
                form
                    input(placeholder="room name", required, type="text")
                    button Enter room
                a(href="https://codesandbox.io/s/zoom-assignment-1-h3hjm", target="_blink") Assignment 1
                br
                a(href="https://codesandbox.io/s/zoom-assignment-2-55yjo", target="_blink") Assignment 2
            div#call
                div#myStream
                    select#cameras
                    video#myFace(autoplay, playsinline)
                    button#mute Mute
                    button#camera Turn Camera Off
                div#peerStream
                    select
                    video#peerFace(autoplay, playsinline)
                    button Mute
                    button Turn Camera Off
                div#chat
                    ul
                    form#chatForm
                        input(placeholder="message", required, type="text")
                        button Send
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js") 